/.idea
!/bitrix/templates/
!/bitrix/components/profi/
!/bitrix/components/prominado/
!/bitrix/php_interface/
!/bitrix/gadgets/
/bitrix/*
/bitrix/backup/*
/upload/*
local/include/vendor/*
local/include/vendor/dompdf_cirillic/*
import/cat.xml
import/cat_new.xml
import/catalog.txt
import/catalog_new.txt
/import/img/*