/bitrix/*
/.idea
!/bitrix/templates/
!/bitrix/components/profi/
!/bitrix/components/prominado/
!/bitrix/php_interface/
!/bitrix/gadgets/
local/include/vendor/*
local/include/vendor/dompdf_cirillic/*
import/cat.xml
import/cat_new.xml
import/catalog.txt
import/catalog_new.txt
import/img/*
upload/
bitrix/backup/
import/
test_backup/
images/
files/
img/
tmp/
/cache/
/phpMyAdmin-*
/.csscomb.json
/.htaccess
/sitemap*.xml
/robots.txt

# files ext
*.sql
*.tgz
*.tar.gz
*.tar
*.rar
*.zip
*.mp3
*.mp4
*.webm
*.mov
*.MOV
*.wav
*.flv
*.db
*.psd
*.pdf
*.doc
*.docx
*.txt
*.text
*.log
*.config
*.xml
*.tbk

