.wrapper {
    overflow-x: hidden;
    margin: 0 auto;
    min-width: 1000px;
}

.width_wrapper{
    margin: 0 10px;
    background: #868686;
}

.full{
    width: 100%;
}

.content_table  td{
    vertical-align: top;
    border-spacing: 0;
    border-collapse: collapse;
}

.content_table .left_block_holder{
    width: 235px;
}


.header{
    height: 142px;
    background: url('/img/header.jpg') left top no-repeat;
}

.top{
    height: 70px;
    position: relative;
}

.top a{
    color:#000;
}


.top .logo{
    float: left;
}

.top .logo{
    width: 190px;
    margin:5px 100px 0 30px;
}

.top .contacts, .top .address{
    padding: 5px 20px 10px;
    background: url('/img/semitrans.png');
    height: 45px;
    position: absolute;
    top:5px;
}

.top .contacts{
    font-size: 14px;
    line-height: 18px;
    left:30%;
}


.top .contacts .phone{
    font-size: 16px;
    font-weight: bold;
    color:#FF7920;;
}

.top .address{
    font-size: 12px;
    line-height: 18px;
    left: 48%;
}

.top .cart{
    background: url('/img/semitrans.png');
    padding: 5px 20px 5px 10px;
    float: right;
    margin: 7px 30px 0 0;
    font-size: 12px;
    line-height: 15px;
}

.top .cart .inner{
    background: url('/img/cart.png?2') left top no-repeat;
    padding-left: 45px;
}

.top .cart .caption{
    font-size: 15px;
    font-weight: bold;
}


.header .menu{
    font-size: 16px;
    font-family: "Tahoma", sans-serif;
    float: left;
    margin-top: 11px;
    margin-left: 10px;
}

.header .menu a{
    color:#FFFFFF;
    margin-right: 30px;
}

.header .search{
    width: 50%;
    float: right;
    margin-top: 11px;
    text-align: right;
    position: relative;
}

.search-input{
    width: 80%;
    padding: 0 10px 2px 10px;
    height: 20px;
    outline: none;
    border:#ccc 1px solid;
position: relative;
z-index:5;
}

.header .search .search_close{
    position: absolute;
    right: 48px;
    top: 5px;
    color:#000;
    z-index: 5;
    font-size: 18px;
    display: none;
    text-decoration: none;
    cursor: pointer;
}



.header .search .search_results{
    width: 80%;
    padding: 5px 10px 10px;
    background: #FFFFFF;
    position: absolute;
    right:34px;
    top:28px;
    border:#ccc 1px solid;
    border-top:none;
    z-index: 4;
    color:#000000;
    text-align: left;
    display: none;
}

.search_results table{
    border-spacing: 0;
    border-collapse: collapse;
}

.search_results td{
    padding: 10px;
    border-bottom: #cccccc 1px dashed;
}

hr.dashed{
    height:1px;
    border: none;
    border-bottom: #cccccc 1px dashed;
}

.search_results .last td{
    border: none;
}

.search_results .picture{
    width: 50px;
}

.search_results .product .name a{
    color:#000;
    text-decoration: none;
}

.search_results .product .section_name a,  .product .price{
    color:#727272;
}

.search_results .product .section_name, .search_results .product .name{
    margin: 0 0 5px;
}

.search_results .product .price span{
    color:#ff7900;
}


.search-submit{
    height: 23px;
    width: 26px;
    background: url('/img/search_submit.png') left top no-repeat;
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: 5px;
    line-height: 20px;
    cursor: pointer;
    margin-bottom: -7px;
}


.page_content{
    background: #FFFFFF;
    margin: 0 15px 0;
    padding-top: 20px;
    position: relative;
    min-height: 100%;
    height: 100%;
}

.page_content .left_block{
    background: #fff;
}

.main_navigation{
    margin-left: -10px;
    font-size: 12px;
    font-family: "Tahoma", sans-serif;
    line-height: 14px;
    position: relative;
    width: 300px;
}

.page_content .open_left{
    position: absolute;
    left: 0;
    top:300px;
    color:#000;
    z-index: 10;
    width: 8px;
    height: 61px;
    background: url("/img/pipka.png") -8px top no-repeat;
    padding: 0;
    display: none;
}

.main_navigation .close_block{
    position: absolute;
    right: -8px;
    top:50%;
    display: block;
    color:#000;
    z-index: 10;
    width: 8px;
    height: 61px;
    background: url("/img/pipka.png") left top no-repeat;
    padding: 0;
}


.main_navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_navigation ul li{
    background: #FF7920 url('/img/left_menu_spacer.png') left -2px no-repeat;
    position: relative;
}

.main_navigation ul li.first{
    padding-top: 2px;
    background-position: left top;
}

.main_navigation ul ul{
    /*position: absolute;
    top:2px;
    left:100%;
    width: 300px;*/
    background: #f0eeee;
    border:1px solid #cccccc;
    display: none;
    z-index: 10;
}

.main_navigation ul ul ul{
    padding-left: 20px;
  /*  width: 280px; */
    border:none;
    background: #ffffff;
}

.main_navigation .root-item-selected > ul{
    display: block !important;
}

.main_navigation .item-selected > ul{
    display: block !important;
}

.main_navigation .item-selected >a {
    color:#FF7920;
}

.main_navigation ul li.first ul{
    top:4px;
}

.main_navigation ul ul ul, .main_navigation ul li.first ul ul{
  /*  top:-1px; */
}

.main_navigation ul ul li{
    background: none;
}

.main_navigation ul ul li a{
    color:#000000;
}

.main_navigation ul ul li a:hover{
    color:#FF7920;
}

.main_navigation a{
    color:#FFFFFF;
    text-decoration: none;
    padding: 11px 25px 11px;
    display: block;
}
.main_navigation .catalog-depth-1:hover {
    background-color: #ff9545;
}

.main_navigation ul ul a{
    padding: 6px 25px;
}

.main_navigation ul ul ul a{
    padding: 3px 25px;
}
.main_navigation ul li.root-item, .main_navigation ul li.root-item-selected {
    padding: 2px 0 0 0;
}
.promo{
}

.promo_block{
    width: 170px;
    padding: 15px;
    border:2px solid #dddddd;
    margin: 20px auto;
}

.page_content .main_block{
  /*  width: 700px;
    float: left; */
    margin: 0 20px 0 20px;
}


.breadcrumbs, .breadcrumbs a{
    color:#FF7920;
}


.sections_list .section{
    width: 170px;
    height: 180px;
    display: block;
    text-decoration: none;
    float: left;
    margin:0 20px 40px 0;
}

.sections_list .section .picture{
    height: 130px;
    display: block;
    overflow: hidden;
    background: no-repeat center center;
    background-size: contain;
}

.sections_list .section .link{
    display: block;
    padding: 10px 0;
    height: 50px;
    overflow: hidden;
    text-align: center;
}


.sections_list .section:hover{
    color: #FF7920;
}

.sections_list.main .section{
    width: 260px;
    margin:0 20px 20px 0;
    height: 150px;
    border:none;
    text-align: center;
}

.sections_list.main .section .picture{
    height: 100px;
    display: block;
    width: 260px;
}


.sections_list.main .section .link{
    display: block;
    font-size: 14px;
    background: #FFFFFF;
}

.sections_list.main .section:hover .link{
    color:#000;
}

.sections_list.main .section .link.small-height{
    line-height: 16px;
}

.pagination{
    margin: 20px 0;
}

.pagination a{
    height: 19px;
    width: 19px;
    border:1px solid #dddddd;
    color:#000;
    display: block;
    text-align: center;
    line-height: 19px;
    text-decoration: none;
    background: url('/img/pagination_bg.png') left top repeat-x;
    float: right;
    margin-left: 7px;
}

.pagination a.current, .pagination a:hover{
    background-position: left -19px;
    border: 1px solid #d06405;
    color:#FFFFFF;
}


.section_elements{
    padding-bottom: 10px;
    border-bottom: 1px dashed #d1cece;
    margin: 20px 0 30px 0;
}

.section_elements .section_element{
    padding-top: 10px;
    border-top: 1px dashed #d1cece;
    margin-top: 10px;
}

.section_elements .section_element .picture{
    width:65px;
    padding: 0 30px 0 15px;
    float: left;
    min-height: 1px;
}

.section_elements .section_element .element_content{
    float: left;
    line-height: 16px;
    width: 70%;
}


.section_elements .section_element .element_content .name{
    margin-bottom: 3px;
}

.section_elements .section_element .element_content .name a{
    color:#000000;
}

.section_elements .section_element .price{
    width: 75px;
    float: right;
    line-height: 18px;
    margin-top: 5px;
}

.section_elements .section_element .price span{
    font-weight: bold;
    color:#FF7920;
}

.section_description{
    width: 150px;
    vertical-align: top !important;
    padding-top: 20px !important;
}

.section_description .picture{
    width: 150px;
    text-align: center;
}
.section_description img {
max-width: 150px;
}

.section_description .description{
    width: 150px;
    line-height: 16px;
}



.catalog_element .element_table{
    border-collapse: collapse;
    border-spacing: 0;
}

.catalog_element .element_table td{
    padding: 0 10px;
    vertical-align: middle;
}

.catalog_element .element_table td.pic{
    width: 100px;
    padding: 5px 0;
    text-align: center;
}

.catalog_element .element_table td.pic img {
max-width:100px;
}

.catalog_element .element_table td.art{
    width: 40px;
}

.catalog_element .element_table td.roz, .catalog_element .element_table td.opt{
    width: 50px;
    white-space: nowrap;
}



.catalog_element .element_table thead{
    background: #FF7920;
    border:1px solid #ccc;
}

.catalog_element .element_table thead td{
    padding: 10px;
    white-space: nowrap;
}

.catalog_element .element_table tbody td{
    background: #FFFFFF;
    border-bottom: 1px solid #e0e0e0;
}
.catalog_element .element_table tbody td.section_description {
    border: 0;
}


.element_table .name{
    width: auto;
    padding-right: 10px;
}

.element_table .mera{
    text-align: center;
    width: 20px;
    white-space: nowrap;
}

.element_table .roz, .element_table .opt{
    text-align: center;
}

.element_table .delete{
    width: 20px;
}


.element_table .buy{
    width: 40px;
    text-align: center;
}

.element_table .upak, .element_table .avail{
    width: 60px;
    text-align: center;
}

.add_to_cart_one.one{
    display: block;
    position: absolute;
    top:6px;
    right: 0;
}

.element_table .name_wrapper{
    position: relative;
    line-height: 16px;
}
.element_table .name-holder {
    cursor: pointer;
}
.element_table .name-holder span{
    font-weight: bold;
}
.element_table .name-holder:hover span {
    color: #FF7920;
    border-bottom: none;
}
.element_table tbody tr.row1 td {
    background: #f0f0f0;
}
.element_table tbody tr.hover td {
    background: #FFE5D4;
}
.element_table tbody tr.hover td.section_description, .element_table tbody tr.hover td.no-back-hover, .element_table tbody tr.row1 td.no-back-hover {
    background: #FFFFFF;
}
td .buy_helper_holder{
    position: relative;
}

.buy .input_holder{
    width: 47px;
}

.buy .input_holder input{
    width: 40px;
}

.buy .buy_helper{
    width: 47px;
    padding: 4px;
}

.buy .buy_helper .help_values{
    position: absolute;
    width: 98px;
/*    padding: 0 4px; */
    background: #F0EEEE;
    left:52px;
    top:5px;
    z-index: 4;
    font-size: 11px;
    line-height: 18px;
    display: none;
}

.buy .buy_helper .help_values a{
    display: block;
    width: 92px;
    float: left;
    text-align: left;
    padding: 3px;
    text-decoration: none;
}



.buy .buy_helper .help_values a:hover{
    color:#FF7920;
    background:#fff;
}

.buy .buy_helper.hovered{
    background: #FFFFFF;
}

.buy .buy_helper.hovered .help_values{
    display: none;
}


.cart_td{
    vertical-align: middle;
    width: 30px;
}

.fancybox-inner .buy{
    width: 80px;
    margin-left: 10px;
}

.element_table .info{
    position: absolute;
    width: 290px;
    margin-top:10px;
    background: #FFFFFF;
    padding: 15px;
    border:1px solid #FF7920;
    z-index: 3;
    left:-60px;
    display: none;
}

.element_table .info .pointer_holder{
    position: relative;
    width: 100%;
    height: 0;
}

.element_table .info .pointer_holder .pointer{
    position: absolute;
    top:-26px;
    left:50%;
    margin-left:-6px;
    width: 12px;
    height: 10px;
    background: url('/img/pointer.png') left top no-repeat;
}

.element_table .more_info_holder td{
    display: none;
}

.element_table .more_info .picture{
    width: 180px;
    float: left;
    padding: 10px 0;
    text-align: center;
}

.element_table .more_info .text{
    padding: 10px;
}

.element_table .not-available td, .element_table .not-available td a{
    color:#555;
}

.description_holder{
    display: none;
}

.fancybox-skin{
    background: #FFFFFF !important;
}

.fancybox-inner .picture{
    width: 250px;
}

.fancybox-inner .properties{
    vertical-align: top;
}

.fancybox-inner .prop_name{
    font-weight: bold;
    padding: 5px 10px;
}

.order{
    margin: 10px 0;
    line-height: 40px;
}

.order .order_button{
    float: right;

}

.order .order_button a{
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

.link_like_button{
    height: 20px;
    padding: 0 5px;
    line-height: 20px;
    text-decoration: none;
    background: #FF7920;
    border:none;
    color:#FFFFFF;
    font-weight: bold;
    display: block;
    text-align: center;
}


.order .order_precount{
    float: right;
    text-align: right;
    width: 400px;
    margin-right: 20px;
}

.catalog_see_also{
    margin-top: 30px;
    padding-top: 20px;
    border-top:2px dashed #cccccc;
}

.catalog_see_also .caption{
    font-size: 16px;
    margin-bottom: 20px;
}

.catalog_see_also .catalog_item{
    width: 120px;
    height: 140px;
    padding: 10px 5px 0 25px;
    border:1px solid #cccccc;
    float: left;
    margin:0 30px 20px 0;
    position: relative;
}

.catalog_see_also .catalog_item .sticker{
    position: absolute;
    width: 43px;
    height: 31px;
    background: url('/img/see_also_sticker.png') left top no-repeat;
    left:-8px;
    top:3px;
    padding-top: 12px;
    padding-left: 12px;
    font-weight: bold;
}

.catalog_see_also .catalog_item.no-margin{
    margin-right: 0;
}

.catalog_see_also .catalog_item .picture{
    text-align: center;
}


.catalog_see_also .catalog_item .price{
    margin-top: 2px;
}


.push{
    height: 50px;
}

.footer{
    height: 53px;
    overflow-x: hidden;
    margin: 0 auto;
    line-height: 25px;
}
.footer-table {
    width: 100%;
}
.footer .copyright{
    color:#f16500;
    font-size: 16px;
    font-family: "Tahoma", sans-serif;
}

.footer .menu{
    font-size: 14px;
    text-align: center;
}

.footer .menu a {
    margin: 5px 20px;
    line-height: 14px;
    display: inline-block;
    color:#FFFFFF;;
}

.dark_line{
    background: #262525;
    margin:0 -5px;
    padding: 0 5px;
}

.dark_line .corners.left{
    background: url('/img/left_corner.png') left top no-repeat;
    height: 3px;
    margin:0 -5px;
    padding: 0 5px;
}

.dark_line .corners .right{
    background: url('/img/right_corner.png') right top no-repeat;
    height: 3px;
    margin:0 -5px;
    padding: 0 5px;
}

.dark_line .content{
    height: 50px;
    color:#FFFFFF;
    padding: 0 40px;
    position: relative;
}

.dark_line .content .shurup{
    width: 18px;
    height: 18px;
    background: url('/img/shurup.png') left top no-repeat;
    position: absolute;
    top:15px;
    left: 5px;
}

.dark_line .content .shurup.shurup_left{
    left:auto;
    right: 5px;
}


.order_form{

}



.order_form .value input, .order_form .value textarea{
    width: 300px;
    padding: 5px 10px;
}

.error{
    margin: 20px 0;
    padding: 5px 20px;
    background: #fff8f2;
    font-weight: bold;
}

.clear_cart, .recount_cart{
    float: left;
    margin-right: 10px;
}

.link_like_button:hover {
    background: #E3651D;
}
.blured {
    color: #aaa;
}
.prominado {
    float:right;
    font-family: Arial, sans-serif;
    display: block;
    background: url("/images/prominado.png") top center no-repeat;
    width: 118px;
    padding: 28px 23px 0 0;
    font-size: 11px;
    line-height: 11px;
    text-align: right;
    color: #666666;
}
.search-where-block {
    background: #262525;
    float:right;
    margin-right: 25px;
    border-radius: 0 0 5px 5px;
}
.search-where {
    display: block;
    float: left;
    margin: 5px 10px;
}
.section-panes div.section-pane {
    display:none;
}
.section-pane-inner {
    padding: 0 30px;
}
.section-tabs {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    border-bottom: solid 1px #888;
}
.section-tabs li {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0 0 -1px 10px;
}
.section-tabs a {
    display: block;
    float: left;
    padding: 7px 14px;
    background: #F0EEEE;
    border: solid 1px #888;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}
.section-tabs a.current {
    background: #FFF;
    border-bottom: solid 1px #fff;
}
.section-tabs a:hover {
    background: #FF7920;
    color: #FFF;
    border: solid 1px #FF7920;
}

.notification {
    position: fixed;
    top: -70px;
    right: 30px;
    background: #fff url('/img/cart.png') no-repeat 10px 10px;
    box-shadow: 0 0 10px #666;
    font-size: 14px;
    width: 150px;
    height: 40px;
    line-height: 20px;
    padding: 10px 10px 10px 60px;
    z-index: 1000;
}

.detail_link {
    height: 40px;
    padding: 10px 0 0 0;
}
.detail_link a {
    display: block;
    text-decoration: none;
    float: right;
    color: #fff;
    height: 30px;
    background: #FF7920 url('/images/details_text.png') no-repeat left center;
    line-height: 30px;
    font-size: 16px;
    padding: 0 10px 0 45px;
}
.detail_link a:hover {
    background-color: #ff9545;
}
.vesHelper {
	background: #ff7900;
	line-height: 25px;
	height: 25px;
	color: #fff;
	text-align: center;
	padding: 0 10px;
	white-space: nowrap;
    border-radius: 3px;
}
.vesHelperHolder {
    right: 100%;
    top: 3px;
    position: absolute;
    display: none;
    height: 25px;
    padding-right: 6px;
    background: url("/images/ar_right.png") no-repeat right center;
}
.buy_helper_holder.price .vesHelperHolder{
    top: -6px;

}
.hovered .vesHelperHolder {
	display: block;
}
.catalog_element .element_table td.nopadding-i {
	padding: 0;
	width: 16px;
}

.aricles-list a {
	color: #FF7920;
}
.aricles-list a:hover {
	color: #000;
}
.catalog-section-list h3 {
	font-family: Georgia;
	font-style: italic;
	font-size: 20px;
}
