.main_block .section-pane.b-product-items {
    display: flex;
    flex-flow: wrap;
}
.b-product-filter {
    order: 2;
}
.b-product-ctalogsection {
    order: 1;
}
.main_block .b-container-top {
    display: flex;
    flex-flow: wrap;
}
.main_block .catalog_element {
    width: 100%;
}
.b-container-recomended-products {
    margin-bottom: 170px;
}
.b-container-recomended-products .bx-blue .btn.btn-default:hover {
    background-color: #FF7920;
    border-color: #FF7920;
}
.b-container-recomended-products .bx-blue .btn.btn-default {
    background-color: #FF7920;
    border-color: #FF7920;
}