.no_underline {
    text-decoration: none;
}
.kratnostHelperHolder {
    right: 100%;
    top: 3px;
    position: absolute;
    display: none;
    height: 25px;
    padding-right: 6px;
    background: url(/images/ar_right.png) no-repeat right center;
}
.kratnostHelper {
    background: #ff7900;
    line-height: 25px;
    height: 25px;
    color: #fff;
    text-align: center;
    padding: 0 10px;
    white-space: nowrap;
    border-radius: 3px;
}
.filter_section_title {
    font-size: 16px;
    font-weight: bold;
    margin: 15px;
    display: block;
}
td.buy {
    position: relative;
}
.buy_helper:before {
    content: '-';
    position: absolute;
    left: -10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.buy_helper:after {
    content: '+';
    position: absolute;
    right: -10px;
    top: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.in_basket {
    display: flex;
    font-size: 9px;
    justify-content: space-between;
}
.in_basket img {
    width:  11px;
    height: 11px;
}
.in_basket_delete {
    cursor: pointer;
}
.element_table .name.sale {
    position: relative;
}
.element_table .name.sale .i-sale-shildik {
    position: absolute;
    right: -3px;
    width: 29px;
    top: 1px;
}
.buy_helper-flex {
    display: flex;
    justify-content: center;
}
.buy_helper-flex:before {
    content: '';
}
.buy_helper-flex:after {
    content: '';
}
.product-item-amount-count {
    border: 1px solid;
    border-color: #808080;
    height: 23px!important;
}
.product-item-amount-field-btn-minus {
    margin-right: 5px;
}
.product-item-amount-field-btn-plus {
    margin-left: 5px;
}
.buy .buy_helper-flex .input_holder input {
    width: 47px;
}
.buy .buy_helper.buy_helper-flex.hovered {
    background: none;
}
@media (max-width: 615px) {
    .btn-list-add-to-cart {
        font-size: 8px;
        padding: 5px;
    }
    .product-item-amount-field-btn-minus:after {
        background-size: 5px;
    }
    .product-item-amount-field-btn-plus:after {
        background-size: 5px;
    }
    .buy .buy_helper-flex .input_holder input {
        width: 30px;
    }
}
@media (max-width: 500px) {
    .product-item-amount-field-btn-minus {
        margin-right: 2px;
    }
    .buy .buy_helper-flex .input_holder input {
        width: 23px;
    }
    .product-item-amount-count {
        height: 20px!important;
    }
}
@media (max-width: 1200px) {
    .main_block .b-container-top {
        display: block;
    }
}
.main_block table.element_table tr td.mera {
    text-align: center;
}
.element_product_tr .section_description {
    position: relative;
}
.element_product_tr .section_description a img {
    position: absolute;
    top: 0px;
}
.b-control-elements-in-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4px 5px 5px 5px;
}