.no_underline {
    text-decoration: none;
}
.kratnostHelperHolder {
    right: 100%;
    top: 3px;
    position: absolute;
    display: none;
    height: 25px;
    padding-right: 6px;
    background: url(/images/ar_right.png) no-repeat right center;
}
.kratnostHelper {
    background: #ff7900;
    line-height: 25px;
    height: 25px;
    color: #fff;
    text-align: center;
    padding: 0 10px;
    white-space: nowrap;
    border-radius: 3px;
}
.filter_section_title {
    font-size: 16px;
    font-weight: bold;
    margin: 15px;
    display: block;
}
td.buy {
    position: relative;
}
.buy_helper:before {
    content: '-';
    position: absolute;
    left: -10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.buy_helper:after {
    content: '+';
    position: absolute;
    right: -10px;
    top: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.in_basket {
    display: flex;
    font-size: 9px;
    justify-content: space-between;
}
.in_basket img {
    width:  11px;
    height: 11px;
}
.in_basket_delete {
    cursor: pointer;
}
.element_table .name.sale {
    position: relative;
}
.element_table .name.sale .i-sale-shildik {
    position: absolute;
    right: -3px;
    width: 29px;
    top: 1px;
}