.no_underline {
    text-decoration: none;
}
.kratnostHelperHolder {
    right: 100%;
    top: 3px;
    position: absolute;
    display: none;
    height: 25px;
    padding-right: 6px;
    background: url(/images/ar_right.png) no-repeat right center;
}
.kratnostHelper {
    background: #ff7900;
    line-height: 25px;
    height: 25px;
    color: #fff;
    text-align: center;
    padding: 0 10px;
    white-space: nowrap;
    border-radius: 3px;
}
.filter_section_title {
    font-size: 16px;
    font-weight: bold;
    margin: 15px;
    display: block;
}
