.top-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.top-submenu {
    visibility: hidden;
    opacity: 0;

    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    background-color: #262525;

    width: 60px;
    padding: 7px;
}
.top-parent-menu-item {
    position: relative;
    cursor: pointer;
}
.top-parent-menu-item:hover .top-submenu {
    visibility: visible;
    opacity: 1;
}
.top-submenu-item {
    margin-top: 10px;
    margin-bottom: 5px;
}

.menu a {
    text-decoration: none;
}