#bx-panel {
    display: none!important;
}
.header {
    display: none!important;
}
.breadcrumbs {
    display: none!important;
}
h1 {
    display: none!important;
}
.basket-item-image {
    display: none!important;
}
.basket-items-list-header {
    display: none!important;
}
.basket-items-list-wrapper {
    border: 0px!important;
}
.basket-item-image-link {
    display: none!important;
}
.basket-item-block-image {
    display: none!important;
}
.page_content .main_block {
    margin: 0px!important;
}
.full.content_table td {
    padding: 0px!important;
}
.page_content {
    margin: 0px!important;
}
.footer {
    display: none!important;
}
.basket-coupon-section {
    display: none!important;
}
.basket-checkout-block.b-clear-basket.basket-checkout-block-btn {
    display: none!important;
}
.basket-checkout-block.basket-checkout-block-btn {
    display: none!important;
}
.basket-items-list {
    padding: 0px!important;
}
#basket-root {
    max-width: 600px!important;
}
a[href]:after {
    display: none!important;
}
.basket-items-list-table td {
    display: none;
}
.only-print.only-print-head:first-child {
    position: relative;
    display: table-row;
}
.basket-items-list-table .only-print {
    display: inline-block;
}
.basket-items-list-table td.only-print {
    /*border: 1px solid #000;*/
    vertical-align: top;
    padding: 4px!important;
}
.basket-items-list-table {
    max-width: 350px;
}
.only-print-1 {
    width:  100%;
    border-bottom: 2px solid #000;
}
.basket-items-list-table td.only-print.only-print-1  {
    padding-bottom: 10px!important;
    padding-top: 10px!important;
}
.basket-items-list-item-container {
    position: relative;
    display: table-row;
}
.basket-checkout-container {
    max-width: 350px;
    padding-left: 0px;
    padding-bottom: 40px;
}
.basket-checkout-block.basket-checkout-block-total {
    display: none;
}
.basket-checkout-block-total-price {
    text-align: left;
}
.basket-checkout-section-inner {
    justify-content: left;
}
.basket-checkout-container {
    border:0px;
    border-bottom: 1px solid #e6e6e6;
}
.basket-coupon-block-total-price-current {
    font-weight: bold;
}
.shipment-specification-print {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.print:last-child {
    page-break-after: auto;
}
.wrapper {
    height: content-box;
    position: relative;
    overflow: hidden;
}
.printing-serial-naimenovanie {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.naimenovanie-print {
    width: 85%;
    text-align: right;
}
.printing-other-props {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}
.col-xs-12 {
    padding-left: 0px!important;
}
.basket-checkout-section-inner {
    height: 100px;
    border-bottom: 1px solid #000;
}
.ui-alert.ui-alert-icon-warning {
    display: none;
}