/** Стили для вкладок описание товара */
.product-item-detail-tab-content ul {
    padding-left: 20px;
}
section p {text-indent: 25px;}
.product-item-detail-tab-content p {text-indent: 25px;}

.product-item-detail-tab-content h1 {color: #FF7920;}
.product-item-detail-tab-content h2 {color: #FF7920; font-size: 22px;}
.product-item-detail-tab-content h3 {color: #FF7920; font-size: 20px;}
.product-item-detail-tab-content h4 {color: #FF7920; font-size: 18px;}

.product-item-detail-tab-content li {
    list-style-type: none; /* Прячем исходные маркеры */
}
.product-item-detail-tab-content li:before {
    color: #FF7920; /* Цвет маркера */
    content: "•"; /* Сам маркер */
    padding-right: 10px; /* Расстояние от маркера до текста */
}
.product-item-detail-tab-content a {
    text-decoration: underline;
}
.product-item-detail-tab-content a:hover {
    color: #FF7920;
}

.main_block .section-pane table thead tr {
    color: #FF7920;
	font-weight: bold;
}
.main_block .product-item-detail-tab-content table thead tr {
    color: #FF7920;
	font-weight: bold;
}
.main_block table.element_table thead tr {
    color: black;
}
.main_block .section-pane table tr td {
    text-align: center;
    vertical-align: middle;
}
.main_block .product-item-detail-tab-content table tr td {
    text-align: center;
    vertical-align: middle;
}
.main_block table.element_table tr td {
    text-align: left;
}