html, body{
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #ffffff;
    font-size: 12px;
}

.clear{
    clear: both;
}

a{
    color:#000000;
    outline:none;
}

a, img{
    border: none;
    outline:none;
}
hr {
    height: 1px;
    margin: 20px 0;
    line-height: 1px;
    font-size: 1px;
    background: #262525;
    border: 0;
}
table {border-collapse: collapse;}

.top .b-header-favorite {
    padding: 5px 20px 10px;
    background: url(/img/semitrans.png);
    height: 60px;
    position: absolute;
    top: 5px;
    font-size: 12px;
    line-height: 18px;
    right: 285px;
}
.top .b-header-compare {
    padding: 5px 20px 10px;
    background: url(/img/semitrans.png);
    height: 60px;
    position: absolute;
    top: 5px;
    font-size: 12px;
    line-height: 18px;
    right: 398px;
}
.b-header-compare .compare-count {
    position: absolute;
    right: 5px;
    top: 0px;
    font-weight: bold;
}
.b-header-compare .compare-title {
    display: block;
    color: #FF7920;
    font-weight: bold;
}
.b-header-compare .compare-title a {
    color: #FF7920 !important;
}
.top .compare-svg-icon-header {
    width: 31px;
    height: 31px;
    opacity: .7;
}
.compare-svg-icon-element-detail {
    width: 18px;
    height: 18px;
    cursor: pointer;
    opacity: .7;
}
.compare-svg-icon-element-detail:hover, .active .compare-svg-icon-element-detail{
    stroke: #FF7920;
    fill: #FF7920;
    color: #FF7920;
}
.b-control-elements-detail {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.product-item-detail-compare-container {
    display: none;
}
.b-compare .compare-checkbox {
    display: none; /* Скрываем чекбокс */
}
.b-compare {
    padding: 1px;
}
.b-compare .compare-svg-icon-element-detail {
    cursor: pointer; /* Делаем курсор указателем при наведении */
}
.b-control-elements-list {
    display: flex;
    justify-content: end;
    gap: 10px;
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    z-index: 2000;
}
.product-layout.product-grid .b-control-elements-list .b-favorite {
    position: initial;
}
.product-layout.product-list .b-control-elements-list .b-favorite {
    position: initial;
}


.favorite-svg-icon:hover {
    stroke: #FF7920;
    fill: #FF7920;
    opacity: .7;
    cursor: pointer;
}
.favorite-svg-icon.active {
    stroke: #FF7920;
    fill: #FF7920;
    opacity: .7;
}
.favorite-svg-icon, .favorite-svg-icon-header {
    stroke: #000;
    opacity: .7;
}
.b-header-favorite {
    position: relative;
    text-align: center;
}
.favorite-title {
    display: block;
    color: #FF7920;
    font-weight: bold;
}
.favorite-title a {
    color: #FF7920!important;
}
.b-header-favorite .favorite-count {
    position: absolute;
    right: 5px;
    top: 0px;
    font-weight: bold;
}
.b-favorite {
    text-align: right;
}
.product-filter {
    display: flex;
}
.b-sort-top {
    display: flex;;
    align-items: center;
    margin-left: 25px;
    padding: .5em 0;
}
.b-sort-top a {
    margin-right: 10px;
}
.b-sort-top .sort-ass {
    margin-right: 10px;
}
.sort_arrow.selected.desc {
    transform: rotate(180deg);
}
.sort_arrow.selected {
    display: inline-block;
}
.b-sort-top a.selected {
    color: #FF7920;
}
body .wrapper .bx-filter.bx-blue .bx-ui-slider-pricebar-vd {background: #FF7920;}
.b-favorite svg {
    width: 18px;
    height: 18px;
}
.b-grid-list-view {
    width: 100%;
}
/*.b-sort-top #sort-select {
    display: block;
    width: 100%;
    font-size: 18px;
    height: 38px;
    margin: 0;
    padding: 0 4px;
    border: 1px solid #ccd5db;
    border-radius: 2px;
    background: #fff;
    outline: none;
}*/
.btn-list-add-to-cart {
    background-color: #FF7920;
    border-color: #FF7920;
    color: #FFF;
    margin-top: 14px;
    margin-bottom: 14px;
}
.btn-list-add-to-cart:hover {
    background-color: #FF9545;
    border-color: #FF9545;
    opacity: 0.8;
}
.btn-list-add-to-cart.basket-added {
    background-color: #FF9545;
    border-color: #FF9545;
    opacity: 0.8;
}




.bx-catalog-element .b-shield-sale::before {
    background-image: url("/local/templates/stroyprofi/images/m_sale.png");
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: auto;
}
.bx-catalog-element .b-shield-new::before {
    background-image: url("/local/templates/stroyprofi/images/m_new.png");
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: auto;
}

.section-panes .b-shield-sale::before {
    background-image: url("/local/templates/stroyprofi/images/m_sale.png");
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: auto;
}
.section-panes .b-table-view .b-shield-sale::before {

}
.section-panes .b-shield-new::before {
    background-image: url("/local/templates/stroyprofi/images/m_new.png");
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: auto;
}
.section-panes .b-table-view .b-shield-sale::before {
    height: 50px;
    width: 50px;
    background-size: contain;
}
.section-panes .b-table-view .b-shield-new::before {
    height: 50px;
    background-size: contain;
}
@media (max-width: 1607px) {
    .catalog_element .element_table tbody td.section_description.section_description-image {
        width: 70px;
        display: block;
    }
    td.section_description img {
        max-width: 60px;
    }
    .catalog_element .element_table tbody td.section_description {
        display: none;
    }
    .first-td-withoutimage {
        display: none;
    }
}
@media (max-width: 1480px) {
    .catalog_element .element_table tbody td.section_description.section_description-image {
        display: none;
    }
}
body .a-excel-download-link {
    cursor: pointer;
}
body .a-excel-download-link {
    color: #FF7920!important;
    font-weight: bold;
    font-size: 21px;
}
body .a-excel-download-link:hover {
    color: #000!important;
}
.catalog-compare-list {
    display: none;
}
.b-container-recomended-products .row.product-item-list-col-4 {
    display: flex;
    justify-content: center;
}