html, body{
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #ffffff;
    font-size: 12px;
}

.clear{
    clear: both;
}

a{
    color:#000000;
    outline:none;
}

a, img{
    border: none;
    outline:none;
}
hr {
    height: 1px;
    margin: 20px 0;
    line-height: 1px;
    font-size: 1px;
    background: #262525;
    border: 0;
}
table {border-collapse: collapse;}

.top .b-header-favorite {
    padding: 5px 20px 10px;
    background: url(/img/semitrans.png);
    height: 60px;
    position: absolute;
    top: 5px;
    font-size: 12px;
    line-height: 18px;
    right: 285px;
}




.favorite-svg-icon:hover {
    stroke: #FF7920;
    fill: #FF7920;
    opacity: .7;
    cursor: pointer;
}
.favorite-svg-icon.active {
    stroke: #FF7920;
    fill: #FF7920;
    opacity: .7;
}
.favorite-svg-icon, .favorite-svg-icon-header {
    stroke: #000;
    opacity: .7;
}
.b-header-favorite {
    position: relative;
    text-align: center;
}
.favorite-title {
    display: block;
    color: #FF7920;
    font-weight: bold;
}
.favorite-title a {
    color: #FF7920!important;
}
.b-header-favorite .favorite-count {
    position: absolute;
    right: 5px;
    top: 0px;
    font-weight: bold;
}
.b-favorite {
    text-align: right;
}
.product-filter {
    display: flex;
}
.b-sort-top {
    display: flex;;
    align-items: center;
    margin-left: 25px;
    padding: .5em 0;
}
.b-sort-top a {
    margin-right: 10px;
}
.b-sort-top .sort-ass {
    margin-right: 10px;
}
.sort_arrow.selected.desc {
    transform: rotate(180deg);
}
.sort_arrow.selected {
    display: inline-block;
}
.b-sort-top a.selected {
    color: #FF7920;
}
body .wrapper .bx-filter.bx-blue .bx-ui-slider-pricebar-vd {background: #FF7920;}
.b-favorite svg {
    width: 18px;
    height: 18px;
}
.b-grid-list-view {
    width: 100%;
}
/*.b-sort-top #sort-select {
    display: block;
    width: 100%;
    font-size: 18px;
    height: 38px;
    margin: 0;
    padding: 0 4px;
    border: 1px solid #ccd5db;
    border-radius: 2px;
    background: #fff;
    outline: none;
}*/
.btn-list-add-to-cart {
    background-color: #FF7920;
    border-color: #FF7920;
    color: #FFF;
    margin-top: 14px;
    margin-bottom: 14px;
}
.btn-list-add-to-cart:hover {
    background-color: #FF9545;
    border-color: #FF9545;
    opacity: 0.8;
}
.btn-list-add-to-cart.basket-added {
    background-color: #FF9545;
    border-color: #FF9545;
    opacity: 0.8;
}