h2 {
    color: #FF7920;
    font-size: 22px;
}
h3 {
    color: #FF7920;
    font-size: 20px;
}

.wrapper {
    overflow-x: hidden;
    margin: 0 auto;
    min-width: 1000px;
}

.width_wrapper{
    margin: 0 10px;
    background: #868686;
}

.full{
    width: 100%;
}

.content_table  td{
    vertical-align: top;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 5px;
}

.content_table .left_block_holder{
    width: 235px;
}


.header{
    height: 142px;
    background: url('/img/header.jpg') left top no-repeat;
    background-size: cover;
}

.top{
    height:70px;
    position: relative;
}

.top a{
    color:#000;
}


.top .logo{
    float: left;
}

.top .logo{
    width: 190px;
    margin:5px 100px 0 30px;
}

.top .contacts, .top .address{
    padding: 5px 20px 10px;
    background: url('/img/semitrans.png');
    height: 60px;
    position: absolute;
    top:5px;
}

.top .contacts{
    font-size: 14px;
    line-height: 18px;
    left:27%;
}


.top .contacts .phone{
    font-size: 16px;
    font-weight: bold;
    color:#FF7920;;
}

.top .address{
    font-size: 12px;
    line-height: 18px;
    left: 45%;
}

.top .cart{
    background: url('/img/semitrans.png');
    padding: 5px 20px 5px 10px;
    float: right;
    margin: 7px 30px 0 0;
    font-size: 12px;
    line-height: 15px;
}

.top .cart .inner{
    background: url('/img/cart.png?2') left top no-repeat;
    padding-left: 45px;
    position: relative;
}

.top .cart .caption{
    font-size: 15px;
    font-weight: bold;
}


.header .menu{
    font-size: 16px;
    font-family: "Tahoma", sans-serif;
    float: left;
    margin-top: 11px;
    margin-left: 10px;
}

.header .menu a{
    color:#FFFFFF;
    margin-right: 30px;
}

.header .search{
    width: 50%;
    float: right;
    margin-top: 11px;
    text-align: right;
    position: relative;
}

.search-input{
    width: 80%;
    padding: 0 10px 2px 10px;
    height: 20px;
    outline: none;
    border:#ccc 1px solid;
    position: relative;
    z-index:5;
    color: #000;
}

.header .search .search_close{
    position: absolute;
    right: 48px;
    top: 5px;
    color:#000;
    z-index: 5;
    font-size: 18px;
    display: none;
    text-decoration: none;
    cursor: pointer;
}



.header .search .search_results{
    width: 80%;
    padding: 5px 10px 10px;
    background: #FFFFFF;
    position: absolute;
    right:34px;
    top:28px;
    border:#ccc 1px solid;
    border-top:none;
    z-index: 4;
    color:#000000;
    text-align: left;
    display: none;
}

.search_results table{
    border-spacing: 0;
    border-collapse: collapse;
}

.search_results td{
    padding: 10px;
    border-bottom: #cccccc 1px dashed;
}

hr.dashed{
    height:1px;
    border: none;
    border-bottom: #cccccc 1px dashed;
}

.search_results .last td{
    border: none;
}

.search_results .picture{
    width: 50px;
}

.search_results .product .name a{
    color:#000;
    text-decoration: none;
}

.search_results .product .section_name a,  .product .price{
    color:#727272;
}

.search_results .product .section_name, .search_results .product .name{
    margin: 0 0 5px;
}

.search_results .product .price span{
    color:#ff7900;
}


.search-submit{
    height: 23px;
    width: 26px;
    background: url('/img/search_submit.png') left top no-repeat;
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: 5px;
    line-height: 20px;
    cursor: pointer;
    margin-bottom: -7px;
}


.page_content{
    background: #FFFFFF;
    margin: 0 15px 0;
    padding-top: 20px;
    position: relative;
    min-height: 100%;
    height: 100%;
}

.page_content .left_block{
    background: #fff;
    width: 20vw;
    max-width: 290px;
}

.main_navigation{
    margin-left: -10px;
    font-size: 12px;
    font-family: "Tahoma", sans-serif;
    line-height: 14px;
    position: relative;
    min-width: 185px;
    /* width: 300px; */
}

.page_content .open_left{
    position: absolute;
    left: 0;
    top:300px;
    color:#000;
    z-index: 10;
    width: 8px;
    height: 61px;
    background: url("/img/pipka.png") -8px top no-repeat;
    padding: 0;
    display: none;
}

.main_navigation .close_block{
    position: absolute;
    right: -8px;
    top:50%;
    display: block;
    color:#000;
    z-index: 10;
    width: 8px;
    height: 61px;
    background: url("/img/pipka.png") left top no-repeat;
    padding: 0;
}


.main_navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_navigation ul li{
    background: #FF7920 url('/img/left_menu_spacer.png') left -2px no-repeat;
    position: relative;
}

.main_navigation ul li.first{
    padding-top: 2px;
    background-position: left top;
}

.main_navigation ul ul{
    /*position: absolute;
    top:2px;
    left:100%;
    width: 300px;*/
    background: #f0eeee;
    border:1px solid #cccccc;
    display: none;
    z-index: 10;
}

.main_navigation ul ul ul{
    padding-left: 20px;
    /*  width: 280px; */
    border:none;
    background: #ffffff;
}

.main_navigation .root-item-selected > ul{
    display: block !important;
}

.main_navigation .item-selected > ul{
    display: block !important;
}

.main_navigation .item-selected >a {
    color:#FF7920;
}

.main_navigation ul li.first ul{
    top:4px;
}

.main_navigation ul ul ul, .main_navigation ul li.first ul ul{
    /*  top:-1px; */
}

.main_navigation ul ul li{
    background: none;
}

.main_navigation ul ul li a{
    color:#000000;
}

.main_navigation ul ul li a:hover{
    color:#FF7920;
}

.main_navigation a{
    color:#FFFFFF;
    text-decoration: none;
    padding: 11px 25px 11px;
    display: block;
}
.main_navigation .catalog-depth-1:hover {
    background-color: #ff9545;
}

.main_navigation ul ul a{
    padding: 6px 25px;
}

.main_navigation ul ul ul a{
    padding: 3px 25px;
}
.main_navigation ul li.root-item, .main_navigation ul li.root-item-selected {
    padding: 2px 0 0 0;
}
.promo{
}

.promo_block{
    width: 170px;
    padding: 15px;
    border:2px solid #dddddd;
    margin: 20px auto;
}

.main_block{
      /* width: 700px;
      float: left; */
    margin: 0 20px 0 20px;
}


.breadcrumbs, .breadcrumbs a{
    color:#FF7920;
}


.sections_list .section{
    width: 170px;
    height: 180px;
    display: block;
    text-decoration: none;
    float: left;
    margin:0 20px 40px 0;
}

.sections_list .section .picture{
    height: 130px;
    display: block;
    overflow: hidden;
    background: no-repeat center center;
    background-size: contain;
}

.sections_list .section .link{
    display: block;
    padding: 10px 0;
    height: 50px;
    text-align: center;
}


.sections_list .section:hover{
    color: #FF7920;
}

.sections_list.main .section{
    width: 260px;
    margin:0 20px 20px 0;
    height: 150px;
    border:none;
    text-align: center;
}

.sections_list.main .section .picture{
    height: 100px;
    display: block;
    text-align: center;
}


.sections_list.main .section .link{
    display: block;
    font-size: 14px;
    background: #FFFFFF;
}

.sections_list.main .section:hover .link{
    color:#000;
}

.sections_list.main .section .link.small-height{
    line-height: 16px;
}

.pagination{
    margin: 20px 0;
}

.pagination a{
    height: 19px;
    width: 19px;
    border:1px solid #dddddd;
    color:#000;
    display: block;
    text-align: center;
    line-height: 19px;
    text-decoration: none;
    background: url('/img/pagination_bg.png') left top repeat-x;
    float: right;
    margin-left: 7px;
}

.pagination a.current, .pagination a:hover{
    background-position: left -19px;
    border: 1px solid #d06405;
    color:#FFFFFF;
}


.section_elements{
    padding-bottom: 10px;
    border-bottom: 1px dashed #d1cece;
    margin: 20px 0 30px 0;
}

.section_elements .section_element{
    padding-top: 10px;
    border-top: 1px dashed #d1cece;
    margin-top: 10px;
}

.section_elements .section_element .picture{
    width:65px;
    padding: 0 30px 0 15px;
    float: left;
    min-height: 1px;
}

.section_elements .section_element .element_content{
    float: left;
    line-height: 16px;
    width: 70%;
}


.section_elements .section_element .element_content .name{
    margin-bottom: 3px;
}

.section_elements .section_element .element_content .name a{
    color:#000000;
}

.section_elements .section_element .price{
    width: 75px;
    float: right;
    line-height: 18px;
    margin-top: 5px;
}

.section_elements .section_element .price span{
    font-weight: bold;
    color:#FF7920;
}

.section_description{
    width: 150px;
    vertical-align: top !important;
    padding-top: 20px !important;
}

.section_description .picture{
    width: 150px;
    text-align: center;
}
.section_description img {
    max-width: 150px;
}

.section_description .description{
    width: 150px;
    line-height: 16px;
}



.catalog_element .element_table{
    border-collapse: collapse;
    border-spacing: 0;
}

.catalog_element .element_table td{
    padding: 0 10px;
    vertical-align: middle;
}

.catalog_element .element_table td.pic{
    width: 100px;
    padding: 5px 0;
    text-align: center;
}

.catalog_element .element_table td.pic img {
    max-width:100px;
    padding: 10px 5px;
}
.catalog_element .element_table td.pic .list-img-slider-content img, .list-img-slider-content img {
    max-width: 300px;
}


.catalog_element .element_table td.art{
    width: 40px;
}

.catalog_element .element_table td.roz, .catalog_element .element_table td.opt{
    width: 50px;
    white-space: nowrap;
}



.catalog_element .element_table thead{
    background: #FF7920;
    border:1px solid #ccc;
}

.catalog_element .element_table thead td{
    padding: 10px;
    white-space: nowrap;
}

.catalog_element .element_table tbody td{
    background: #FFFFFF;
    border-bottom: 1px solid #e0e0e0;
}
.catalog_element .element_table tbody td.section_description {
    border: 0;
}


.element_table .name{
    width: auto;
    padding-right: 10px;
}

.element_table .mera{
    text-align: center;
    width: 20px;
    white-space: nowrap;
}

.element_table .roz, .element_table .opt{
    text-align: center;
}

.element_table .delete{
    width: 20px;
}


.element_table .buy{
    width: 40px;
    text-align: center;
}

.element_table .upak, .element_table .avail{
    width: 60px;
    text-align: center;
}

.add_to_cart_one.one{
    display: block;
    position: absolute;
    top:6px;
    right: 0;
}

.element_table .name_wrapper{
    position: relative;
    line-height: 16px;
}
.element_table .name-holder {
    cursor: pointer;
}
.element_table .name-holder span{
    font-weight: bold;
}
.element_table .name-holder:hover span {
    color: #FF7920;
    border-bottom: none;
}
.element_table tbody tr.row1 td {
    background: #f0f0f0;
}
.element_table tbody tr.hover td {
    background: #FFE5D4;
}
.element_table tbody tr.hover td.section_description, .element_table tbody tr.hover td.no-back-hover, .element_table tbody tr.row1 td.no-back-hover {
    background: #FFFFFF;
}
td .buy_helper_holder{
    position: relative;
}

.buy .input_holder{
    width: 47px;
}

.buy .input_holder input{
    width: 40px;
}

.buy .buy_helper{
    width: 47px;
    padding: 4px;
}

.buy .buy_helper .help_values{
    position: absolute;
    width: 98px;
    /*    padding: 0 4px; */
    background: #F0EEEE;
    left:52px;
    top:5px;
    z-index: 4;
    font-size: 11px;
    line-height: 18px;
    display: none;
}

.buy .buy_helper .help_values a{
    display: block;
    width: 92px;
    float: left;
    text-align: left;
    padding: 3px;
    text-decoration: none;
}



.buy .buy_helper .help_values a:hover{
    color:#FF7920;
    background:#fff;
}

.buy .buy_helper.hovered{
    background: #FFFFFF;
}

.buy .buy_helper.hovered .help_values{
    display: none;
}


.cart_td{
    vertical-align: middle;
    width: 30px;
}

.fancybox-inner .buy{
    width: 80px;
    margin-left: 10px;
}

.element_table .info{
    position: absolute;
    width: 290px;
    margin-top:10px;
    background: #FFFFFF;
    padding: 15px;
    border:1px solid #FF7920;
    z-index: 3;
    left:-60px;
    display: none;
}

.element_table .info .pointer_holder{
    position: relative;
    width: 100%;
    height: 0;
}

.element_table .info .pointer_holder .pointer{
    position: absolute;
    top:-26px;
    left:50%;
    margin-left:-6px;
    width: 12px;
    height: 10px;
    background: url('/img/pointer.png') left top no-repeat;
}

.element_table .more_info_holder td{
    display: none;
}

.element_table .more_info .picture{
    width: 180px;
    float: left;
    padding: 10px 0;
    text-align: center;
}

.element_table .more_info .text{
    padding: 10px;
}

.element_table .not-available td, .element_table .not-available td a{
    color:#555;
}

.description_holder{
    display: none;
}

.fancybox-skin{
    background: #FFFFFF !important;
}

.fancybox-inner .picture{
    width: 250px;
}

.fancybox-inner .properties{
    vertical-align: top;
}

.fancybox-inner .prop_name{
    font-weight: bold;
    padding: 5px 10px;
}

.order{
    margin: 10px 0;
    line-height: 40px;
}

.order .order_button{
    float: right;

}

.order .order_button a{
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

.link_like_button{
    height: 20px;
    padding: 0 5px;
    line-height: 20px;
    text-decoration: none;
    background: #FF7920;
    border:none;
    color:#FFFFFF;
    font-weight: bold;
    display: block;
    text-align: center;
}


.order .order_precount{
    float: right;
    text-align: right;
    width: 400px;
    margin-right: 20px;
}

.catalog_see_also{
    margin-top: 30px;
    padding-top: 20px;
    border-top:2px dashed #cccccc;
}

.catalog_see_also .caption{
    font-size: 16px;
    margin-bottom: 20px;
}

.catalog_see_also .catalog_item{
    width: 120px;
    height: 140px;
    padding: 10px 5px 0 25px;
    border:1px solid #cccccc;
    float: left;
    margin:0 30px 20px 0;
    position: relative;
}

.catalog_see_also .catalog_item .sticker{
    position: absolute;
    width: 43px;
    height: 31px;
    background: url('/img/see_also_sticker.png') left top no-repeat;
    left:-8px;
    top:3px;
    padding-top: 12px;
    padding-left: 12px;
    font-weight: bold;
}

.catalog_see_also .catalog_item.no-margin{
    margin-right: 0;
}

.catalog_see_also .catalog_item .picture{
    text-align: center;
}


.catalog_see_also .catalog_item .price{
    margin-top: 2px;
}


.push{
    height: 50px;
}

.footer{
    height: 53px;
    margin: 0 auto;
    line-height: 25px;
}
.footer-table {
    width: 100%;
}
.footer .copyright{
    color:#f16500;
    font-size: 16px;
    font-family: "Tahoma", sans-serif;
    min-width: 75px;
}

.footer .menu{
    font-size: 14px;
    text-align: center;
}

.footer .menu a {
    margin: 5px 20px;
    line-height: 14px;
    display: inline-block;
    color:#FFFFFF;;
}

.dark_line{
    background: #262525;
    margin:20px -5px;
    padding: 0 5px;
}

.bottom{
    background: #262525;
    margin:0 -5px;
    padding: 0 5px;
}

.dark_line .corners.left{
    background: url('/img/left_corner.png') left top no-repeat;
    height: 3px;
    margin:0 -5px;
    padding: 0 5px;
}

.dark_line .corners .right{
    background: url('/img/right_corner.png') right top no-repeat;
    height: 3px;
    margin:0 -5px;
    padding: 0 5px;
}

.dark_line .content{
    height: 50px;
    color:#FFFFFF;
    padding: 0 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.dark_line .content .shurup{
    width: 18px;
    height: 18px;
    background: url('/img/shurup.png') left top no-repeat;
    position: absolute;
    top:15px;
    left: 5px;
}

.dark_line .content .shurup.shurup_left{
    left:auto;
    right: 5px;
}


.order_form{

}



.order_form .value input, .order_form .value textarea{
    width: 300px;
    padding: 5px 10px;
}

.error{
    margin: 20px 0;
    padding: 5px 20px;
    background: #fff8f2;
    font-weight: bold;
}

.clear_cart, .recount_cart{
    float: left;
    margin-right: 10px;
}

.link_like_button:hover {
    background: #E3651D;
}
.blured {
    color: #aaa;
}
.search-where-block {
    background: #262525;
    float:right;
    margin-right: 25px;
    border-radius: 0 0 5px 5px;
}
.search-where {
    display: block;
    float: left;
    margin: 5px 10px;
}
.section-panes div.section-pane {
    display:none;
}
.section-pane-inner {
    padding: 0 30px;
}
.section-tabs {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    border-bottom: solid 1px #888;
}
.section-tabs li {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0 0 -1px 10px;
}
.section-tabs a {
    display: block;
    float: left;
    padding: 11px 14px;
    background: #F0EEEE;
    border: solid 1px #888;
    font-size: 14px;
    line-height: 14px;
    height: 33px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}
.section-tabs a.current {
    background: #FFF;
    border-bottom: solid 1px #fff;
}
.section-tabs a:hover {
    background: #FF7920;
    color: #FFF;
    border: solid 1px #FF7920;
}

.notification {
    position: fixed;
    top: -100px;
    right: 30px;
    background: #fff url('/img/cart.png') no-repeat 10px 10px;
    box-shadow: 0 0 10px #666;
    font-size: 14px;
    width: 150px;
    height: 80px;
    line-height: 20px;
    padding: 10px 10px 10px 60px;
    z-index: 1000;
}

.detail_link {
    height: 40px;
    padding: 10px 0 0 0;
}
.detail_link a {
    display: block;
    text-decoration: none;
    float: right;
    color: #fff;
    height: 30px;
    background: #FF7920 url('/images/details_text.png') no-repeat left center;
    line-height: 30px;
    font-size: 16px;
    padding: 0 10px 0 45px;
}
.detail_link a:hover {
    background-color: #ff9545;
}
.vesHelper {
    background: #ff7900;
    line-height: 25px;
    height: 25px;
    color: #fff;
    text-align: center;
    padding: 0 10px;
    white-space: nowrap;
    border-radius: 3px;
}
.vesHelperHolder {
    right: 100%;
    top: 3px;
    position: absolute;
    display: none;
    height: 25px;
    padding-right: 6px;
    background: url("/images/ar_right.png") no-repeat right center;
}
.buy_helper_holder.price .vesHelperHolder{
    top: -6px;

}
.hovered .vesHelperHolder {
    display: block;
}
.catalog_element .element_table td.nopadding-i {
    padding: 0;
    width: 16px;
}

.aricles-list a {
    color: #FF7920;
}
.aricles-list a:hover {
    color: #000;
}

.catalog-section-list h3 {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 20px;
}

.cart_info_holder {
    font-weight: bold;
    margin-left: 20px;
}
.related_products {
    margin: 0 20px 0 20px;
}
.bx_catalog_list_home .bx_bt_blue {
    background: #FF7920;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTJkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZmY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF7920), color-stop(100%,#FF7920));
    background: -webkit-linear-gradient(top, #FF7920 0%,#FF7920 100%);
    background: -moz-linear-gradient(top, #FF7920 0%,#FF7920 100%);
    background: -ms-linear-gradient(top, #FF7920 0%,#FF7920 100%);
    background: -o-linear-gradient(top, #FF7920 0%,#FF7920 100%);
    background: linear-gradient(to bottom, #FF7920 0%,#FF7920 100%);
    color: #fff;
    text-shadow: 0 1px 0 #FF7920;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF7920', endColorstr='#FF7920',GradientType=0 );
    border-radius: 0;
}
.bx_catalog_list_home .bx_bt_blue:hover {
    background-color: #FF7920;
    border-color: #FF7920;
}

.main_block .bx-filter.bx-blue .bx-filter-section {
    background: #fff;
    border: 1px solid #cccccc;
}
.bx-filter .bx-filter-parameters-box-title span {
    color: #FF7920!important;
}
.bx-filter.bx-blue .bx-ui-slider-pricebar-v {
    color: #FF7920!important;
}
.bx-filter.bx-blue .bx-ui-slider-pricebar-v {
    color: #FF7920!important;
}
#calc_result {
    font-size: 18px;font-weight: bold;
}
.hint_min {
    font-size: 9px;
    color: #808080;
}
.link-btn-orange {
    background-color: #FF7920;
    border-color: #FF7920;
    color: #FFF;
    border: 0;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-transition: background 280ms ease,opacity 280ms ease,color 280ms ease,border 280ms ease;
    -moz-transition: background 280ms ease,opacity 280ms ease,color 280ms ease,border 280ms ease;
    -ms-transition: background 280ms ease,opacity 280ms ease,color 280ms ease,border 280ms ease;
    -o-transition: background 280ms ease,opacity 280ms ease,color 280ms ease,border 280ms ease;
    transition: background 280ms ease,opacity 280ms ease,color 280ms ease,border 280ms ease;
    text-decoration: none;
}
.vertalign-middle {
    vertical-align: middle!important;
}
.padding-left-50 {
    padding-left: 50px;
}
.payments_logs img {
    max-height: 30px;
    margin-top: 8px;
}
.btn-primary {
    color: #fff;
    background-color: #FF7920!important;
    border-color: #FF7920!important;
}
.form-control-maxwidth200 {
    max-width: 200px;
}
.form-calculate-result {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 18px;
}
.form-group-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.form-group-flex label {
    margin-right: 10px;
    min-width: 230px;
}
.catalog-block-header-personal-recomended {
    font-size: 18px;
    color: #FF7920;
    border-top: 1px solid #dfdfe1;
    padding-top: 25px;
}
.wrong-pay-sum {
    font-weight: bold;
    color: red;
    font-size: 14px;
    text-align: right;
}
.form-control-error {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.calculation_chemical_composition_anchor .invalid-feedback {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    color: #dc3545;
}
.standart_table {
    font-family: Verdana, Arial, sans-serif;
    border-collapse: collapse;
}
.standart_table th {
    vertical-align: top;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #000;
}
.standart_table td {
    vertical-align: top;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 5px;
    width: 80%;
    border: 1px solid #000;
}
.img_cart_link {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0;
}
.popup-window-buttons .ui-btn.ui-btn-danger {
    --ui-btn-background: #FF7920;
    --ui-btn-background-hover: #FF7920;
    --ui-btn-background-active: #FF7920;
    --ui-btn-border-color: #FF7920;
    --ui-btn-border-color-hover: #FF7920;
    --ui-btn-border-color-active: #FF7920;
    --ui-btn-color: #fff;
    --ui-btn-color-hover: #fff;
    --ui-btn-color-active: #fff;
    border-color: #FF7920!important;
    background-color: #FF7920!important;
}
.popup-window-buttons .ui-btn.ui-btn-primary {
    color: #000!important;
    background-color: #fff!important;
    border-color: #FF7920!important;
}
.additional-frame {
    width: 100%;
    height: 100vh;
}
.product-item-detail-tab-content[data-value="properties"] {
    width: 80%;
}
.b-right-banner-list .next_slick_arrow.slick-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 100;
    cursor: pointer;
}
.b-right-banner-list .prev_slick_arrow.slick-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    cursor: pointer;
}
/*.page_content .main_block {
    height: calc(100vh - 241px);
}*/
.page_content {
    min-height: calc(100vh - 215px);
}

body .bx-filter.bx-blue .btn-themes {
    background-color: #FF7920;
    border-color: #FF7920;
    color: #FFF;
}
body .bx-filter.bx-blue .bx-ui-slider-pricebar-v {
    background-color: #FF7920;
}
body .btn-link {
    color: #FF7920;
}

/** Бегущая строка **/
.marquee {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 10px;
}
.marquee span a {
    color: #f16522;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 35s linear infinite;
    color: #f16522;
    font-size: 16px;
    font-weight: bold;
}

.marquee span:hover {
    animation-play-state: paused
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
/**
Персональные рекомендации
 */
.col-xs-6 {
    width: 25%;
    margin-bottom: 220px;
}

.bx-filter-parameters-box-container .col-xs-6 {
    margin-bottom: 10px;
}
/**
Стили для всплывашки
*/
#dialog-content{
    display:none;
}

/* Всплывающая форма-скрыта по умолчанию */
.form-popup {
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.form-popup.fancybox__content{
    padding: 21px 21px 30px;
    border-radius: 8px;
}
.form-popup .carousel__button.is-close{
    top: 0!important;
    color: #8f8f8f!important;
    opacity: 0.8;
}

.form-container h1{
    color: #333;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    opacity: 0.8;
}

/* Добавить стили для контейнера формы */
.form-container {
    max-width: 335px;
    padding: 10px;
    background-color: white;
}
.pass_forgot {
    color: #0d61af;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    width: fit-content;
}

/* Поля ввода полной ширины */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    height: 50px;
    font-size: 16px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    outline: auto rgb(175 175 175 / 50%);
}

/* Когда входы получают фокус, сделайте что-нибудь */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Установите стиль для кнопки отправить/войти */
.form-container .btn-popup {
    background-color: #FF7920;
    background-image: linear-gradient(0deg, #FF7920, #fda061);
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    border-radius: 8px;
    opacity: 1;
}

/* Добавить красный цвет фона для кнопки "Отмена" */
.form-container .cancel {
    /*background-color: #797878;*/
    background-image: linear-gradient(0deg, #8f8f8f, #b3b3b3);
}

/* Добавить некоторые эффекты наведения на кнопки */
.form-container .btn-popup:hover, .open-button:hover {
    opacity: 0.8;
    transition: 0.3s;
}

/*Иконка показа пароля*/
.password {
    position: relative;
}
.password-control {
    position: absolute;
    top: 15px;
    right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
    background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}

/**
Классы для картинок
 */
.wide_img {
    max-width: 700px;
}
.mid_img {
    max-width: 500px;
    margin: 0 20px 20px 0;
}
.small_img {
    max-width: 200px;
    margin: 0 20px 20px 0;
}
.product_img {
    max-width: 100px;
    margin-right: 20px;
}
.icons_img {
    max-width: 45px;
    margin: 4px 4px 0 0;
}
.big_icons_img{
    max-width: 80px!important;
}
.obj_img {
    width: 100%;
}
.table_big_img{
    width: 100%!important;
    max-width: 500px!important;
    margin-bottom: 20px;
}
.logo_img{
    max-width: 100px;
    transition: 0.4s;
    width: 100%;
    padding: 0;
}
.logo_img:hover{
    transform: scale(1.5);
    padding: 0 20px;
}
.mid_content td {
    vertical-align: middle;
    padding: 10px;
}

.img_td{
    width: 500px;
}
/**
Вкладки в разделах
 */

.section-pane-inner{
    max-width: 3440px;
}

.section-pane-inner .large {
    width: 80%;
}

.border-zero {
    border: 0!important;
}

.table-align-top td {
    vertical-align: top !important;
}

.section-pane-inner table {
    width: 100%;
}

.section-pane-inner p {
    width: 100%;
}

.section-pane-inner td img {
    width: auto;
    max-width: 150px;
}

.section-pane-inner ul {
    width: 100%;
    text-align: left;
    padding-left: 50px;
}

.section-pane-inner video {
    width: 100%;
    max-width: 3440px;
}

.section-pane-inner img {
    width: 100%;
}

/**
Адаптив для верстки
 */
.menu {
    white-space: nowrap;
}
.top-parent-menu-item {
    white-space: nowrap;
}
@media (max-width: 1450px) {
    .top .contacts {
        left: 20%;
    }
    .top .address {
         left: 42%;
    }
    .top .b-header-favorite {
        left: 66%;
    }
    .catalog_element .element_table thead td {
        padding: 10px 2px;
    }
    .catalog_element .element_table td{
        padding: 0 7px;
        vertical-align: middle;
    }
}
@media (max-width: 1240px) {
    .top .address {
        display: none;
    }
    .col-xs-6 {
        width: 30%;
    }
    .catalog_element .element_table thead td {
        padding: 10px;
    }
    .footer .menu a{
        font-size: 12px;
        margin: 5px 10px;
    }
    .footer .copyright{
        font-size: 14px;
    }
    .main_block {
        width: 68vw;
    }
    .no-left{
        width: 100%;
    }
}
@media (max-width: 1010px) {
    .top .b-header-favorite {
        left: 58%;
    }
    .top .contacts {
        left: 28%;
    }
    .wrapper {
        min-width: auto;
    }

}

@media (max-width: 978px) {
    .header .menu {
        font-size: 14px;
    }
    .header .menu a {
        color: #FFFFFF;
        margin-right: 15px;
    }
    .col-xs-6 {
        width: 40%;
    }
    .footer .menu {
        display: none;
    }
}
@media (max-width: 920px) {
    .top .b-header-favorite {
        left: 58%;
    }
    .top .contacts {
        left: 28%;
    }
    .search form {
        display: flex;
    }
    .header .search {
        margin-left: 15px;
    }
    .top .cart {
        padding: 5px 20px 0 7px;
    }
    .main_navigation {
        margin-left: -10px;
        font-size: 10px;
        font-family: "Tahoma", sans-serif;
        line-height: 14px;
        position: relative;
        max-width: 185px;
    }
    .orphus {
        max-width: 150px;
    }
    .col-lg-9 {
        position: relative;
        min-height: 1px;
        padding-right: 1px;
        padding-left: 1px;
    }
    .content_table .left_block_holder {
        width: 185px;
    }
}
@media (max-width: 805px) {
    .top .b-header-favorite {
        display: none;
    }

    .top .contacts {
        left: 30%;
    }
}

@media (max-width: 768px) {
    .top .contacts {
        display: none;
    }
    .top .b-header-favorite {
        display: none;
    }
    .top .logo {
        margin-right: 0;
    }
    .left_block_holder {
        display: none;
    }
    .main_block table.element_table tr td {
        padding: 5px;
    }
    .menu{
        display: none;
    }
    .disable{
        display: none;
    }

}
@media (max-width: 505px) {
    .top .logo {
        width: 120px;
        margin: 27px 0 0 5px;
    }
    .top .logo img {
        width: 120px;
    }
    .top .cart {
        margin: 7px 0 0 0;
    }

    h1 {
        font-size: 24px;
    }
    .main_block {
        max-width: 420px;
    }
    body {
        font-size: 10px;
    }
    .col-xs-6 {
        width: 100%;
    }
}
@media (max-width: 470px) {
    .copyright {
        display: none;
    }
    .col-lg-9 {
        width: 310px;
    }
    .section-tabs li {
        margin: 0 0 -1px 1px;
    }
    .section-tabs a {
        font-size: 10px;
    }
    .main_block table.element_table tr td {
        padding: 2px;
    }
    .main_block {
        max-width: 470px;
        margin: 0 20px 0 5px;
    }
    td .buy_helper_holder{
        position: relative;
        width: 24px;
    }

    .buy .input_holder{
        width: 20px;
    }

    .buy .input_holder input{
        width: 20px;
    }

    .buy .buy_helper{
        width: 28px;
        padding: 4px;
    }
}
/** Мобильное меню */
.menu_mobile {
    display: none;
}
.menu_mobile .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.menu_mobile .menu-items {
    order: 2;
    display: flex;
}
.menu_mobile .menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu_mobile .menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu_mobile .menu-items a:hover {
    color: #117964;
    transition: color 0.3s ease-in-out;
}
.menu_mobile .menu-items a.selected {
    color: #FF7920;
}

@media (max-width: 768px) {
    .menu_mobile {
        display: block;
        position: relative;
        top: -5px;
        left: -16px;
        z-index: 999;
    }
    .menu_mobile .navbar {
        opacity: 0.95;
    }
    .menu_mobile .navbar-container input[type="checkbox"],
    .menu_mobile .navbar-container .hamburger-lines {
        display: block;
    }
    .menu_mobile .navbar-container {
        display: inline-block;
        position: relative;
        height: 64px;
    }
    .menu_mobile .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 999999;
        opacity: 0;
    }
    .menu_mobile .navbar-container .hamburger-lines {
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 99999;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu_mobile .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #FF7920;
    }
    .menu_mobile .navbar-container .hamburger-lines .line1 {
        transform-origin: 0 0;
        transition: transform 0.4s ease-in-out;
    }
    .menu_mobile .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    .menu_mobile .navbar-container .hamburger-lines .line3 {
        transform-origin: 0 100%;
        transition: transform 0.4s ease-in-out;
    }
    .menu_mobile .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        display: none;
        flex-direction: column;
        margin-left: -50px;
        padding-left: 50px;
        padding-right: 50px;
        box-shadow: 5px 0 10px 0 #aaa;
        position: relative;
        z-index: 999;
        animation: fadeOutFromBlock 0.5s ease-in-out;
    }
    @keyframes fadeInFromNone {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOutFromBlock {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
    .menu_mobile .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }
    .menu_mobile .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        display: block;
        animation: fadeInFromNone 0.5s ease-in-out;
        animation-fill-mode: forwards;
    }
    .menu_mobile .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
    }
    .menu_mobile .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    .menu_mobile .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-35deg);
    }

    .header .search {
        position: absolute;
        right: 40px;
    }
}

@media (max-width: 659px) {
    .sections_list.main .section {
        width: 100%;
    }
}

.has-image[data-image-fit=contain] .fancybox__image {
    padding: 30px;
    background-color: #fff;
}
body .btn.btn-default.btn-sm {
    background-color: #FF7920;
    border-color: #FF7920;
    color: #FFF;
}